<link rel="stylesheet" href="chat.component.css">

<div style="width: 40%;margin:auto; margin-top:100px;">
    <div>
        <label for="" style="font-size: 25px; font-weight: bold; font-family: cursive;">Hola <span style="font-weight: bold;">{{userChat.user}}</span> ... Escribe un mensaje xd</label>
        <input type="text" class="form-control" (change)="myMessage()" [(ngModel)]="userChat.text">
    </div>
    <div class="mt-3">
        <div *ngFor="let a of myMessages">
            <label for="" style="font-weight: bold; ">{{a.user}}</label>
            <span>{{a.text}}</span>

        </div>

    </div>

</div>