/* You can add global styles to this file, and also import other style files */
body{

   background-image: url("img/bg-whatsapp2.1.jpg");
   background-repeat: no-repeat;

}

#titled{
    margin-top: 75px;
    font-family: chiller;
    text-align: center;
    font-weight: bold;
    font-size: 100px;
}

.integrantes{
    font-weight: bold;
    margin-left: 38%;
    margin-top: 200px;
    width: 25%;
    background: rgb(225, 225, 225,0.5);
    text-align: center;
    float: left;
    text-align: center;
    align-items: center;
    border-radius: 12px;
    font-size: 20px;
}